




/* BODY STYLES
*/
.main-container,
header,
footer {
  div, p {
    font-size: 14px;
  }
  p {
    line-height: 30px;
    margin-bottom: 15px;
  }
  h1, {
    font-size: 45px;
    letter-spacing: 0px;
  }
  /* LINK STYLES
*/

  .container {
  }
  a, a:link, a:visited {
    // gray 1
    color: $grey !important;
  }
  a:hover, a:focus {
    // gray 2
    color: $grey2 !important;
    text-decoration: none;
  }
  // navbar links
  .navbar, .footer {
    //  font-size: 12px;
    a, a:link, a:visited {
      color: $grey !important;
    }
    a:hover, a:focus {
      color: black !important;
    }
    .menu {
      li, .leaf {
        display: inline-block;
      }
    }
  }
}


/* FIXED POSITION EXCEPTIONS FOR ADMIN MENU
*/
.admin-menu {
  .navbar {
    top: 30px;
  }
  .main-container {
    margin-top: 30px;
  }
}
.admin-menu-with-shortcuts {
  .navbar {
    top: 64px;
  }
  .main-container {
    margin-top: 64px;
  }
}

/* STANDARD BODY POSITIONING
*/

/* STANDARD BODY POSITIONING
* NAVBAR
*/
.navbar {
  top: 0px;
  left: 0px;
  position: fixed;
  height: $nav_height;
  z-index: 7;
  width: 100%;
  max-width: inherit !important;
  div, p, a {
    font-size: 16px !important;
  }

  .logo {
    position: absolute;
    top: 0;
    height: $nav_height;

    img {
      margin-top: -10px;
      padding: 10px 0;
      position: relative;
      height: 75px;
      width: auto;
    }
  }
  button.navbar-toggle {
    background-color: shade($greyHeader, 10%);
//    margin-right: 0px;
    margin-top: 23px;
    border: 1px solid lighten(#888, 10%);
    .icon-bar {

    }
    .icon-bar.hover {
      background-color: $red;
    }
  }
}


.expanded {
  .navbar-nav, .region-navigation {
//    @include vertical-align;
    margin-top: -15px;
    display: inline-block !important;
  }
  .navbar-nav {
    margin-top: -10px;
  }
}


/* collapsible menu style */
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
  border: white;
  border: 1px solid lighten(#888, 10%);
  margin-right: 0px;
  @include border-radius(4px);

  //  background-color: $greyHeader;
  background-color:shade($greyHeader, 10%);
  width: 180px;
  float: right;
  margin-top: 0px !important;
  nav, .nav-wrapper {
    //    height: inherit !important;
    ul.menu {
      position: inherit !important;
      top: inherit !important;
      @include transform(translateY(inherit !important));
      li {
        display: block;
        //          display: table-row;
        //        float:right;
        text-align: right;
        padding: 10px 0;
        a {
          display: inline-block;
        }
      }
    }
  }
}

// position language dropdown next to main menu
.navbar-collapse {
  .nav-wrapper {
    float: right;
    width: 700px;
//    white-space: nowrap;
    .menu {
    }
  }
}
.region-navigation {
  float: right;
//  margin-left: 30px;
  #block-search-form {
    width: 170px;
  }
}
.page-suche,
.page-search {
  // HIDE NAVBAR SEARCH & SEARCH LINK ON SEARCH PAGE
  .nav-wrapper,
  .region-navigation {
    #search-direct-link,
    #block-search-form {
      display: none;
    }
  }
  .region-navigation {
    #block-search-form {
    }
  }
  .view-bro-search-results {
    .view-filters {
      form#views-exposed-form-bro-search-results-page {
        margin: 0 auto;
        .form-type-textfield, button {
//          display: inline-block;
          float: left;
        }
        .form-type-textfield{
//          float: left;
        }
        button {
//          float: right;
        }
        .form-type-textfield {
          width: 90%;
          input {
            @include border-radius(4px 0 0 4px !important );
          }
        }
        button {
          @include border-radius(0 4px 4px 0 !important );
          border-left: 0px;
          margin-left: -5px;
        }
      }
    }
    .view-content {
      clear: both;
    }
  }
}


.nav-orig {
  background: $greyHeader;
  border-bottom: 1px solid #aaaaaa !important;
  @include box-shadow(0px 1px 5px 1px rgba(0,0,0,0.4));


}

.nav-clone {
  background: none;
  border-bottom: 0px;
  @include box-shadow(0px);
}

/* STANDARD BODY POSITIONING
* MAIN
*/
.main-container {
//  margin-top: 75px;
//  position: absolute;
//  bottom: 280px;
  min-height: 500px;
  width: 100%;
  position: absolute;
  overflow: hidden;

  #block-system-main {
    .panel-panel {
      padding: 0px !important;
    }
  }

}
/* STANDARD BODY POSITIONING
* FOOTER
*/
#panel-footer,
#embed-footer,
.footer {
  background: $grey;
  div, p {
    color: $grey2 !important ;
    font-size: 16px !important;
  }
  a.active {
    border-bottom: none !important;
  }
  a {
    color: $grey2 !important;
  }
  h4 {
    color: white;
  }
  .container {
  }
  .pane-content {
    position: relative;
//    height: 300px;
    padding: 30px;
    color: white;
    text-align: center;
  }
  .block {
    margin-bottom: 20px;
  }
  #block-dbo-layout-social,
  .item-list
  {
    text-align: center;
    height: 0px;
    ul, li {
      margin: 0px !important;
      padding: 0px !important;
    }
    ul.menu {
      position: relative;
      top: 30px !important;
    }

    li.first {
      margin-right: 10px;
    }
    li.last {
      margin-left: 10px;
    }
    li {
      display: inline-block;
      width: 100px;
      list-style: none;
      a {
        &:hover {
        }
        i {
          font-size: 30px;
          background: $grey2;
          width: 50px;
          height: 50px;
          padding-top: 12px;
          padding-left: 2px;
          @include border-radius(25px);
//          display: block;
//          vertical-align: center;
          color: $grey;
          @include transition-property(color);
          @include transition-duration(300ms);
          @include transition-timing-function(ease-in);

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  #contact-block {
    color: $grey2;
    text-align: left;
    float: right;
    margin-top: 120px;
  }
  .content-menu, .info-menu {
    text-align: left;
    padding-right: 40px;
  }
  .content-menu {
    float: left;
  }
  .info-menu {
    float: left;
  }

  .grip-bottom#copyright-block {
    position: absolute;
    width: 300px;
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
    p {
      text-align: center;
    }
  }
}
#embed-footer {
  padding: 30px;
  ul, li {
    margin: 0px !important;
    padding: 0px !important;
  }
  li a {
//    padding: 0 0 3px 0 !important;
//    font-weight: 400 !important;
  }
}




/* NAVBAR
*/
#navbar {
  .container {
    height: $nav_height;
    .navbar-header {
      .navbar-toggle {
//        top: 13px;
      }
    }
    .navbar-collapse {
      text-align: right;
//      float: right;
      margin-top: 35px;
      ul.menu {
        li {
            margin-left: 20px !important;
          a {

          }
          a.active {
            background: none;
          }
        }
      }
    }
  }
}
#navbar {
  .menu {
    @include menu-style;
  }
}
.navbar-top {
  .menu {
    @include menu-style-white;
  }
}
.nav-orig,
.nav-clone .navbar-collapse.collapse.in,
.nav-clone .navbar-collapse.collapsing
{
  .menu {
//    display: none;
    a.active, a:focus {
      background-color: none !important;
//      display: none;
      border-bottom: 1px solid $grey;
    }
    a, a:link, a:visited {
      color: $grey !important;
    }
    a:hover {
      color:$red !important;
      border-bottom: 1px solid $red;
    }
  }
}
// views/bootstrap style pagination
.pagination {
  li.active {
    a {
      background: $red;
      color: white !important;
      border: 1px solid darken(#ddd, 20%);
    }
    a:hover {
      background: $grey;
      border: 1px solid darken(#ddd, 20%);
    }
  }
}

.faq {
  margin-top: 30px !important;
  .faq-question {
    padding-top: 0px;
  }
  .faq-answer {
    color: black;
    p {
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}


#panel-footer,
#embed-footer {
  @include menu-style-footer;
  @include menu-style;
  a:hover {
    text-decoration: none !important;
    color: $red !important;
  }
  .item-list,
  #contact-block
  {
    @include vertical-align;
  }
}

.page-user {
  .main-container {
    .page-header,
    .tabs--primary,
    #block-system-main {
      width: 600px;
      margin: 100px auto;
    }
  }
}

.logged-in {
  .nav-tabs {
    display: none;
  }
}


//.page-node-edit,
//.page-node-add,
//.page-node-clone {
//  .main-container {
//    .page-header,
//    .tabs--primary,
//    #block-system-main {
//      width: 900px;
//      margin: 100px auto;
//    }
//  }
//}