/* @file _bro_ct.scss
**        Brochure Site Content Type Styles
*/


/* ***
** LEGEND **
  BRO : brochure
  CT  : content type
  EL  : element (as in, sub content type of the page type wrapper
****/


/*
BRO_CT PAGE WRAPPER
*/

.bro-ct,
.page-suche,
.page-search {
  /*
   BRO_CT_EL PAGE STARTER
   */
  /* view mode teaser for the panel display */
  .bro-ct-el-page-starter.node-teaser {
    overflow: hidden;
    position: relative;
    .field-type-text-long,
    .field-type-image,
    #bro-content-overlay,
    .field-name-field-entity-reference
    {
      position: absolute;
      top: 0px;
    }
    .field-name-bro-ct-el-page-starter-image {
      .page-starter-bg {
        width: 100%;
        height: 500px;
        div {
          position: absolute;
          width: 100%;
          height: 500px;
//          height: 750px;
//          margin-top: -250px;
          background-repeat: no-repeat;
          background-size: cover !important;
          background-position: center !important;
//          top: 75px;
//          background-attachment: scroll;
//          background-size: 100% auto !important;;

        }
      }
    }
    .field-type-image {
      z-index: 0;
    }
    #bro-content-overlay {
      z-index: 1;
      display: block;
      background: rgba(darken($red, 10%), 0.8);
//      background: rgba($red, 0.8);
      height: $rowH;
      width: 100%;
    }
    .field-name-field-basic-text-text {
      z-index: 2;
      color: white;
      width: 100%;
//      position: relative;
      top: 300px;
      .field-item {
        width: 900px;
//        width: 75%;
        margin: 0 auto;
        .under {
          position: relative;
          left: 430px;
          top: -35px;
        }
      }
    }
    .field-name-field-entity-reference {
      z-index: 3;
      color: white;
      width: 100%;
      //      position: relative;
      top: 410px;
      text-align: right;
      .field-item {
        width: 75%;
        margin: 0 auto;
        a {
          background: $blue;
          color: white !important;
          font-size: 18px;
//          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 5px 15px;
          @include border-radius(15px);
          &:hover {
            text-decoration: none;
            color: $grey !important;
          }

        }
      }
    }
  }

  /*
  BRO_CT LIST ITEM
  */
  .bro-list-content, .webform-client-form, .faq {
    width: 900px;
    margin: 80px auto;
    position: relative;
    color: $grey;
    position: relative;
    left: 10px;
    padding: 0 20px;
  }
  .bro-list-teaser-grid {
//    left: -50px;
    td, .views-row {
      box-sizing: border-box;
      width: 420px;
      display: inline-block;
      vertical-align: top;
      .bro-ct-el-list-item {
        padding: 0 50px 20px 10px;
      }
      h4 {
        font-size: 20px;
      }
      .field-name-field-image {
        margin-bottom: 20px;
      }
      .more-link {
        display: block;
        &:link, &:visited {
          color: $red !important;
        }
        &:hover {
          color: $grey;
          text-decoration: underline;
        }
      }
      .field-name-field-icon-markup,
      .field-name-field-icon {
        i {
          font-size: 50px;
        }
      }
    }
  }
  .bro-list-jobs,
  #quicktabs-bro_jobs_tabs {
    width: 800px;
    margin: 0 auto;
    p {
      font-size: 16px;
      line-height: 22px;
    }
    .view {
      width: 100%;
      margin-top: 0px;
      left: 0px;
      .views-row {
        width: 100% !important;
        .bro-job {
          padding: 0 10px 10px 10px;
          .field-name-title {
            margin: 30px 0 30px;
          }
          .radix-layouts-sidebar {
            .panel-panel-inner {
              .field-type-image {
                .field-items {
                  .field-item {
                    width: 100%;
                    margin: 30px 0 0 0;
                    img {
                      position: relative;
                      width: 100%;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
          .radix-layouts-content {
            .panel-panel-inner {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
  .bro-list-full {
    .list-item-anchor {
      position: relative;
      top: -100px;
      display: block;
    }
    h3 {
      margin: 0 0 20px 0;
    }
    .field-name-field-icon-markup,
    .field-name-field-icon {
      text-align: left;
      padding-bottom: 20px;
      i {
        font-size: 100px;
      }
    }
    .col-md-9 {
      .panel-panel-inner {
        margin-left: 30px;
      }

    }
    .views-row {
      margin-bottom: 40px;
    }
  }



  /*
  BRO_CT BODY FIELD
  BODY PANEL
  */
  .body-panel {
    max-width: 900px;
    padding: 40px;
    margin: 0 auto;
  }

}

/* IMPRESSUM EXCEPTIONS */
.page-node-39 {
  .field-name-field-basic-text-text {
    top: 360px !important;
  }
}

/* WEBFORM PAGE & ELEMENTS
*/
.webform-client-form {
  .webform-layout-box {
    margin-bottom: 20px;
    .form-item {
      width: 47%;
      vertical-align: bottom;
    }
    .webform-component--row-1--bus-name,
    .webform-component--row-2--employee-count,
    .webform-component--row-3--event-count
    {
//      margin-left: 50px;
    }
    .webform-component--row-6--message {
      width: 800px !important;
//      margin-right: 30px !important;
    }
  }
  button {
    background-color: $blue;
    border-color: $blue;
  }
}

/* PRICES PAGE
*
* * NOTE - this class is set in template.php for this theme, where it is conditionally
* * dependent on the pages url alias to be either 'preise' or 'pricing'
*/
.pricing-page.bro-ct {
  .bro-ct-el-page-starter.node-teaser {
    position: relative;
    overflow: hidden;
    .field-type-text-long {
      top: 100px;
      text-align: center;
    }
    #pricing-disp-elements {
      margin-top: 80px;
      .price-item {
        box-sizing: border-box;
        width: 32%;
        vertical-align: bottom;
        // we'll animate these elements w/ slideDownin file: js.js
        display: none;
        float: left;
        position: relative;
        overflow: hidden;
        .disp-el {
          font-size: 60px;
          font-weight: bold;
        }
        .disp-text {
          font-size: 24px;
          display: block;
          height: 65px;
        }
      }
    }
  }
  .field-name-body {
    color: $grey;
    .price-body-table {
      width: 1000px;
      margin: 30px 0 60px -93px;
      .price-row {
          display: inline-block;
          width: 33%;
        div {
          padding: 20px 30px;
          vertical-align: bottom;
          text-align: center;
          color: white;
          border: 1px solid $grey2;
          border-top: 0px;
          border-bottom: 0px;
          .price {
            font-size: 50px;
            padding: 25px 0 0px 0;
            display: block;
            &:before {
              content: '€';
              font-size: 20px;
              position: relative;
              top: -20px;
              left: -10px;
              font-weight: lighter;
            }
          }
        }
        div:first-child {
          // needs latest Compass, add '@import "compass"' to your scss
          background-color: #57b9e0; // Old browsers
          @include filter-gradient(#57b9e0, #29abe2, horizontal); // IE6-9
          @include background-image(linear-gradient(left,  #57b9e0 0%,#237abc 15%,#29abe2 50%,#237abc 85%,#29abe2 100%));
        }
        div:last-child {
          text-align: left;
          border: 1px solid $grey2;
          border-top: 0px;
          ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
          }
          li {
            padding-left: 15px;
            margin-bottom: 10px;
            color: $grey2;
            &:before {
              content: '✗';
              width: 30px;
              display: inline-block;
            }
          }
          li.li-active {
            color: $grey;
            &:before {
              content: '✓';
            }
          }
        }
      }
      .price-col-1 {
        div:first-child {
          background-color: #5bb266; // Old browsers
          @include filter-gradient(#5bb266, #39b54a, horizontal); // IE6-9
          @include background-image(linear-gradient(left,  #5bb266 0%,#2f9332 15%,#39b54a 50%,#30963f 85%,#39b54a 100%));
        }

      }
      th {
//        text-align: center;
//        color: white;
//        border: 1px solid $grey2;
//        border-top: 0px;
//        border-bottom: 0px;
//
//        // needs latest Compass, add '@import "compass"' to your scss
//        background-color: #57b9e0; // Old browsers
//        @include filter-gradient(#57b9e0, #29abe2, horizontal); // IE6-9
//        @include background-image(linear-gradient(left,  #57b9e0 0%,#237abc 15%,#29abe2 50%,#237abc 85%,#29abe2 100%));
//        .price {
//          font-size: 50px;
//          padding: 25px 0 0px 0;
//          display: block;
//          &:before {
//            content: '€';
//            font-size: 20px;
//            position: relative;
//            top: -20px;
//            left: -10px;
//            font-weight: lighter;
//          }
//        }
      }
//      th:first-child {
//        background-color: #5bb266; // Old browsers
//        @include filter-gradient(#5bb266, #39b54a, horizontal); // IE6-9
//        @include background-image(linear-gradient(left,  #5bb266 0%,#2f9332 15%,#39b54a 50%,#30963f 85%,#39b54a 100%));
//      }
      .price-col-2 {

      }
//      td {
//        border: 1px solid $grey2;
//        border-top: 0px;
//        ul, li {
//          list-style: none;
//          margin: 0;
//          padding: 0;
//        }
//        li {
//          padding-left: 15px;
//          margin-bottom: 10px;
//          color: $grey2;
//          &:before {
//            content: '✗';
//            width: 30px;
//            display: inline-block;
//          }
//        }
//        li.li-active {
//          color: $grey;
//          &:before {
//            content: '✓';
//          }
//        }
//      }
    }

  }
}


/* FEATURES PAGE
*
* * NOTE - this class is set in template.php for this theme, where it is conditionally
* * dependent on the pages url alias to be either 'erfahren-sie-mehr' or 'learn-more'
*/
.features-page.bro-ct {
  .bro-ct-el-page-starter.node-teaser {
    .field-name-field-basic-text-text {
      top: 180px;
      left: 100px;
    }
  }
}

/* AUFTRAGSBEST¨ATIGUNG WEBFORM EMBEDDED IN PAGE
*/
.webform-client-form-82 {
  .webform-component--confirm {
    .description {
      a, a:link {
        color: $red !important;
      }
    }
  }
}

/* BRO CT LIST ITEM CONTENT PAGE
*/
.bro-ct.node-type-bro-ct-el-list-item {
  .bro-ct-el-list-item.view-mode-full {
    .field-name-field-image-foto {
      .field-item {
        img {
          position: relative;
          width: 100%;
          height: auto;
        }
      }
    }
    .radix-layouts-sidebar {
      .panel-panel-inner {
        padding: 20px;
        text-align: center;
        .field-name-field-image {
          .field-item {
            img {
              position: relative;
              width: 100%;
              height: auto;
            }
          }
        }
        .field-name-bro-pager {
          margin-top: 40px;
        }
      }
    }
  }
}