/* HOME PAGE
*/
.bro-ct.page-node-5 {
  #block-system-main {
    .slideshow-panel {
      padding-top: 20px;
      padding-bottom: 0;
      .node-slideshow {
        h2 { display: none; }
//        .field-slideshow-slide {
//          z-index: 1 !important;
//        }
      }
    }
    .view-display-id-panel_pane_1 {
      margin-top: 0px;
    }
  }
}

/* MYDSCHUMBO PAGE
*/
.mydschumbo {
  .radix-sutro-double {
    .pane-node-title {
      .pane-title {
        display: none;
      }
      display: none;
    }
    .pane-node-body {
      .mydbo-advantages {
        h4 {
          font-size: 36px;
          padding-bottom: 20px;
        }
        float: left;
        width: 50%;
        padding: 30px;
        margin: 0 30px 20px 0;
        border: 1px solid $grey;
        color: $grey2;
        text-align: center;
        ul {
          margin: 0px;
          padding: 0px;
        }
        li {
          font-size: 18px;
          padding-bottom: 25px;
          font-style: italic;
          list-style: none;
          padding-left: 0px;
        }
        li:nth-child(5) {
          padding-bottom: 0px;
        }
      }
    }
    .pane-node-field-image {
      margin-top: -20px;
      .field-items {
        .field-item {
          text-align: middle;
          margin-bottom: 30px;
//          width: 50%;
//          display: inline-block;
//          vertical-align: top;
//          float: right;
          img {
            width: 100%;
            height: auto;
            position: relative;
            padding: 0 10px;
          }
        }
      }
    }


//    .row:nth-child(2),
//    .row:nth-child(4) {
//      text-align: middle;
//      width: 900px;
//      margin: 0 auto;
//    }
//    .row:nth-child(2) {
//      margin-top: 50px;
//    }
//    .row:nth-child(4) {
//      margin-bottom: 50px;
//    }
//    .col-md-6 {
//      .panel-panel-inner {
//        padding: 15px;
//        .field-type-image {
//          .field-item {
//            margin-bottom: 30px;
//            img {
//              position: relative;
//              width: 100%;
//              height: auto;
//            }
//          }
//        }
//      }
//      // screenshot
//      .pane-1 {
//
//      }
//      // text
//      .pane-2 {
//        h1 {
//          margin-top: 0px;
//        }
//      }
//      // more text
//      .pane-3 {
//
//      }
//      // dschumbo advantages
//      .pane-4 {
//        table {
//          width: 100%;
//        }
//      }
//    }
  }
}


/* JOBS PAGE
*/
.dschumbo-jobs {
  .bro-ct-el-page-starter {
    #job-apply-link {
      margin-top: 30px;
      a, a:link, a:visited {
        color: white !important;
      }
    }
  }
  .pane-quicktabs-bro-jobs-tabs {
    .quicktabs-tabs {
      margin: 40px auto !important;
//      padding: 0px !important;
      li {
        padding: 8px 15px;
        border: 1px solid $grey;
        margin-right: 10px;
        @include border-radius(3px);
      }
      li.active {
        background: lighten($grey2, 20%);
      }
    }
    .view {
      margin-bottom: 0px;
      .bro-job {
        .field-name-title {
          margin-top: 0px !important;
          h2 {
            margin-top: 0px;
          }
        }
        margin-bottom: 30px;
      }
      .field-name-field-term-type {
        text-align: right;
      }
      .field-type-image {
        width: 75%;
        float: right;
      }
    }
  }
}

/* DSCHUMBO REFERENZEN
*/
.dschumbo-refs {
  .bro-list-refs {
    .views-row {
      width: 220px;
      .field-name-field-list-body {
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      img {
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
}

/* REFERENCE NODE PAGE
*/
.bro-ct {
  #block-system-main {
    .pane-entity-view {
      .bro-ct-el-list-item.view-mode-full {

      }
    }
  }
}


/* LEISTUNGEN
*/
#dschumbo-leistungen {
  .bro-list-content {
    margin-top: 40px;
    .view-content {
      .views-row {
        padding: 0 10px 10px;
        vertical-align: top;
        box-sizing: border-box;
        width: 49%;
        display: inline-block;
        .field-type-image {
          margin-bottom: 20px;
          .field-item {
            img {
              position: relative;
              width: 100%;
              height: auto;
            }
          }
        }
        .field-name-field-icon-markup {
          float: left;
          padding: 0 20px 0 0;
        }
      }
    }
  }
}


/* SEARCH
*/
.page-search {
  .navbar-collapse .nav-wrapper {
    width: 520px;
  }
}
