/* JOBS PAGE APPLICATION FORM
 *
 * JOB CONFIRM APPLICATION FORM
*/
.apply-form,
.confirm-form,
.contact-form {
  padding-top: 0px !important;
  .webform-client-form {
    margin-top: 20px;
    width: 820px;
    // general form styling
    .form-item {
      width: 780px;
      margin-bottom: 20px;
      clear: both;
      .form-type-checkbox,
      .form-type-radio {
        display: inline;
        input {
          margin: 5px 20px 0 0;
        }
        margin-right: 20px;
      }
    }
    .webform-component-checkboxes {
      .form-checkboxes {
        .form-type-checkbox {
          width: 180px;
          margin-right: 30px;
          float: left;
          clear: none;
        }
      }
    }
    .webform-layout-box {
      margin-bottom: 25px;
      .form-item {
        width: 367px;
        padding-right: 20px;
        margin-bottom: 0px;
      }
      .form-item:nth-child(2) {
        padding-right: 0px;
      }
    }
    .webform-component-file {
      margin-bottom: 30px;
    }

    .webform-component--birthday,
    .webform-component-date {
      .webform-container-inline {
        .form-type-select {
          width: 256px;
          display: inline-block;
          padding-right: 20px;
        }
        .form-type-select:nth-child(3) {
          padding-right: 0px;
        }
      }
    }
    .webform-component-email {
      label, input {
        display: block;
      }
      input {
        width: 100%;
        @include border-radius(4px);
        border: 1px solid #ccc;
        height: 34px;
      }
    }
    .webform-component--confirm {
      #edit-submitted-confirm {
        .form-type-checkbox {
          width: 20px !important;
          label {
            display: none;
          }
        }
      }
    }
  }
}