.navbar {
  @include border-radius(0px);
  border: 0px;
  margin: 0px !important;
  .container {
    width: 100%;
    margin: 0px;
    padding: 0 40px;
  }
  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  li {
    display: inline-block;
    a {
      background-color: none;
    }
  }
}
.col-sm-12 {
  padding: 0px;
}
.row {
  margin: 0px;
}
//@media (min-width: 768px) {
//  /* line 10, ../bootstrap-sass/bootstrap/_grid.scss */
//  .logo {
//    width: 750px;
//  }
//}
//@media (min-width: 992px) {
//  /* line 10, ../bootstrap-sass/bootstrap/_grid.scss */
//  .logo {
//    width: 970px;
//  }
//}
//@media (min-width: 1200px) {
//  /* line 10, ../bootstrap-sass/bootstrap/_grid.scss */
//  .logo {
//    width: 1170px;
//  }
//}

.alert {
  width: 900px;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -450px;
  z-index: 4;
}

.footer {
  display: block;
  margin: 0px !important;
  width: 100% !important;
  ul.menu.nav {
    > li {
      a {
        &:hover {
//          background-color: none;
        }
      }
    }
  }
}

/* PANELS OVERRIDE
*/
.container-fluid {
  padding: 0px;
}
.panels-flexible-region {
  width: 100%;
  vertical-align: top;
}
.panel-separator {
  display: none;
}