/* RESPONSIVE BEHAVIORS
*/


/* MAIN MENU CUSTOM COLLAPSE BEHAVIOR
*/
#search-direct-link {
  display: none;
}
.navbar-toggle {
//  margin-right: 20px !important;
}
@media all and (max-width: 1075px) {
  #navbar .container {
    padding-right: 0px;
  }
  #navbar {
//    width: 650px;
    .container {
      .navbar-header {
        .navbar-toggle {
        }
      }
      .navbar-collapse {
//        font-size: 12px;
        .nav-wrapper {
          width: 610px;
        }
        ul.menu {
          li {
            a {
              font-size: 14px !important;
            }
            margin-left: 10px !important;
            padding: 5px 0;
          }
        }
      }
      .navbar-collapse.collapsed.in,
      .navbar-collapse.collapsed {
        ul.menu {
          li.first {
            padding-top: 10px !important;
          }
        }
      }
    }
  }
}

@media all and (max-width: 960px) {
  #navbar {
    .container {
      .navbar-collapse {
        .nav-wrapper {
          padding-top: 0px;
          width: 415px;
        }
        ul.menu {
          li {
            a {
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }
  #search-direct-link {
    display: inherit;
  }
  .region-navigation,
  #search-block-form {
    display: none !important;
  }
}

/* PAGE STARTER - mostly front page specific !!??
 * TRANSITIONS h1 TEXT ARRANGEMENT FROM SPECIFIC POSITIONS TO CENTERED & SMALLER
*/
@media all and (max-width: 1125px) {
  .bro-ct {
    .bro-ct-el-page-starter.node-teaser {
      .field-name-field-basic-text-text {
        top: 220px;
        left: 0px !important;
        width: 100%;
        .field-item {
          .over {
            text-align: center;
          }
          h1 {
            text-align: center;
            font-size: 35px;
          }
          #job-apply-link {
            text-align: center;
            margin-top: 5px;
          }
          .under {
            position: inherit;
            text-align: center;
          }
        }
      }
      .field-name-field-entity-reference {
        text-align: center;
      }
    }
  }
}


/* FRONT GRID OF ITEMS
*/
/* 2 ROWS */
@media all and (max-width: 950px) and (min-width: 720px) {
  /* page starter */
  .bro-ct {
    .bro-ct-el-page-starter.node-teaser {
      .field-name-field-basic-text-text {
        .field-item {
          width: 100%;
        }
      }
    }
  }
  /* list items */
  .bro-ct .bro-list-content, .bro-ct .webform-client-form, .bro-ct .faq {
//    width: 600px;
  }

  // leistungen on front
  .bro-front-list-content {
    .bro-list-content {
      width: inherit;
      .views-row {
        width: 355px !important;
        .node {
          padding-left: 0px;
        }
      }
    }
  }
}
@media all and (max-width: 990px) {
  .bro-front-list-content {
    .bro-list-content {
      width: inherit;
      .views-row {
        width: 355px !important;
        .node {
          padding-left: 0px;
        }
      }
    }
  }
}
@media all and (max-width: 769px) {
  .bro-front-list-content {
    .bro-list-content {
      width: inherit;
      .views-row {
        width: 350px !important;
        .node {
          padding-left: 0px;
        }
      }
    }
  }
}


/* LEISTUNGEN PAGE
*/
@media all and (max-width: 975px) {
  .bro-ct.page-taxonomy-term-1 .bro-list-content {
    width: 600px;
    left: 0;
  }
}


@media all and (max-width: 950px) and (min-width: 501px) {
  .webform-client-form {
    .form-item {
      width: 45% !important;
    }
    .webform-component-textarea {
      width: 100% !important;
    }
  }
}

@media all and (max-width: 500px) {
  .webform-client-form {
    .form-item {
      width: 100% !important;
      margin: 20px 0 !important;
      padding: 0 20px;
    }
    .webform-layout-box {
      margin-bottom: 0px;
    }
  }
}


/* PAGE CONTENT - JOBS PAGE
*/
@media all and (max-width: 991px) {
  .dschumbo-jobs {
    #block-system-main {
      .view-bro-content-jobs {
        .bro-job {
          .field-name-field-image {
            img {
              width: 100px !important;
              margin-bottom: 20px;
            }
          }
        }
      }
      .apply-form {
        padding: 0px;
        .webform-client-form-46 {
          width: 700px;
          left: 0px;
//          position: inherit;
          .form-item {
            width: 700px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 999px) {
/* page starter */
  .bro-ct {
    .bro-ct-el-page-starter.node-teaser {
      height: 350px;
    }
  }
}

/* jobs page
*/
@media all and (max-width: 999px) {
  .page-node-58 {
    .pane-node-body {
      padding-bottom: 0px;
    }
    #quicktabs-bro_jobs_tabs {
      width: inherit;
      .view-bro-content-jobs {
        .views-row {
          .panel-display {
            padding: 0px;
            .field-name-field-term-type {
              text-align: left;
              margin-bottom: 10px;
            }
            .field-name-field-image {
              float: left;
              position: relative;
              width: 130px;
              margin-bottom: 0px;
              .field-item {
                margin: 0px !important;
              }
            }
          }
        }
      }
    }
    /* job panel refitting */
    .col-md-9 {
      .panel-panel-inner {
        padding-left: 0px !important;
      }
    }

  }
}

@media all and (max-width: 620px) {
  .dschumbo-jobs #block-system-main .apply-form {
    .pane-title {
      text-align: center;
    }
    .webform-client-form-46 {
      width: 500px;
      .webform-component-file,
      .webform-component--experience
      {
        width: 100% !important;
        #edit-submitted-experience {
          clear: both;
          .form-type-checkbox {
            width: 150px  !important ;
          }
        }
      }
    }
  }
}


/* 1 ROWS */
@media all and (max-width: 769px) {
//@media all and (max-width: 769px) and (min-width: 381px) {
  /* page starter */
  .bro-ct,
  .page-suche,
  .page-node-24
  {
    .bro-ct-el-page-starter.node-teaser {
      height: 250px !important;
      .field-name-bro-ct-el-page-starter-image,
      .page-starter-bg,
      .page-starter-bg div
      {
        height: 250px !important;
      }

      .field-name-field-basic-text-text {
        top: 120px;
        .field-item {
          width: 400px;
          h1 {
            font-size: 22px;
          }
        }
      }
      .field-name-field-entity-reference {
        top: 280px;
      }
    }
  }
  .bro-ct .bro-list-content, .bro-ct .webform-client-form, .bro-ct .faq {
    width: 400px;
  }
  /* single col rows are wider */
  .bro-ct {
    .bro-list-teaser-grid {
      td, .views-row {
        width: 400px;
      }
    }
  }

  /* ENTDECKEN & PRICING PAGE - 1 ROW PAGE STARTER */
  /* page starter */
  .page-node-7, .page-node-9 {
    .bro-ct-el-page-starter.node-teaser {
      .field-name-field-basic-text-text {
        top: 150px;
        .field-item {
          h1 {
            line-height: 40px;
            margin: 0px;
          }

          /* PAGE STARTER PRICING TABLE */
          #pricing-disp-elements {
            margin-top: 30px !important;
            .price-item {
              .disp-el {
                font-size: 30px  !important;
              }
              .disp-text {
                font-size: 16px !important;
              }
            }
          }



        }
      }
    }
    /* GRID / TEXT AREA DISPLAY */
    .bro-list-teaser-grid, .bro-list-teaser-grid {
      td, .views-row {
        width: 300px;
        margin: 30px auto;
      }
    }
  }

}

/* PAGE CONTENT pricing page
reacting at this point to coincide w/ bootstrap break */
@media all and (max-width: 992px) and (min-width: 700px) {
  .pricing-page.bro-ct {
    .field-name-body {
      .price-body-table {
        margin: 30px auto 60px auto;
        width: 100%;
        clear: all;
        margin-botom: 40px;
        .price-row {
          text-align: center;
            width: 30%;
          div {
            margin: 0;
            padding: 15px;
          }
          .bottom {
            li {
              text-align: center;
              padding-left: 0px !important;
              &:before {
                width: 100% !important;
                display: block;
              }
            }
          }
        }
        h3 {
          font-size: 20px;
        }
        p, li {
          font-size: 13px;
        }
      }
    }
  }
}

/* PAGE CONTENT pricing page - small
reacting at this point to coincide w/ bootstrap break */
//@media all and (max-width: 699px) {
@media all and (max-width: 699px) and (min-width: 381px) {
  .pricing-page.bro-ct {
    .field-name-body {
      .price-body-table {
        margin: 30px auto 60px auto;
        width: 350px;
        .price-row {
          text-align: center;
          display: block;
          width: 100%;
          margin-bottom: 30px;
          div {
            margin: 0;
            padding: 15px;
            li {
              padding-left: 0px;
              &:before {
                width: 100%;
                display: block;
              }
            }
          }
        }
        .price-row-2 {
          div {
          }
        }
        h3 {
          font-size: 20px;
        }
        p, li {
          font-size: 13px;
        }
      }
    }
  }
}

/* PAGE CONTENT pricing page - IPHONE
reacting at this point to coincide w/ bootstrap break */
//@media all and (max-width: 699px) {
@media all and (max-width: 380px) {
  .pricing-page.bro-ct {
    .field-name-body {
      .price-body-table {
        margin: 30px auto 60px auto;
        width: 250px;
        .price-row {
          text-align: center;
          display: block;
          width: 100%;
          margin-bottom: 30px;
          div {
            margin: 0;
            padding: 15px;
            li {
              padding-left: 0px;
              &:before {
                width: 100%;
                display: block;
              }
            }
          }
        }
        .price-row-2 {
          div {
          }
        }
        h3 {
          font-size: 20px;
        }
        p, li {
          font-size: 13px;
        }
      }
    }
  }
}


/* * FOOTER
* */

/* TRANSITION ELEMENTS FROM SPECIFIC POSITION TO STACKED
*/
@media all and (max-width: 989px) {
  #panel-footer,
  #embed-footer
  {
    p, a {
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }

  #panel-footer,
  #embed-footer {
    .pane-content, .container {
      height: 620px;
      a {
        display: inline;
        line-height: 30px;
      }
      .content-menu,
      .info-menu {
        float: none !important;
        div, ul, a {
          display: inline;
        }
        li {
          width: 100px;
        }
//        display: inline-block;
//        height: 200px;
      }
      .info-menu {
        margin-top: 30px;
      }
      #contact-block {
        margin-top: 130px;
        position: inherit;
        float: none;
        clear: both ;
      }
    }
  }
}
@media all and (max-width: 600px) {
  #panel-footer,
  #embed-footer {
    .pane-content, .container {
      .item-list {
        #social-menu {
          float: right;
          position: inherit;
          margin-top: 10px;
          width: 80px;
          li {
            display: block !important;
            padding-bottom: 30px !important;
          }
        }
      }
      .info-menu {
//        float:left !important;
      }
      .content-menu {
        height: 100px;
      }
    }
  }
}





/** IPHONE 4 SPECIFIC SIZING
*/
@media all and (max-width: 450px) {


  /* LEISTUNGNEN */
  .bro-ct.page-taxonomy-term-1 .bro-list-content
  {
    width: inherit !important;
    margin: 0 20px;
    .views-row {
      width: 100% !important;
      p {
        font-size: 13px !important;
        line-height: 22px !important ;
      }
    }
  }

  /* NAV ADJUSTMENTS */
  #navbar {
    height: 90px;
    .container {
      height: 90px;
    }
    .logo {
      img {
        height: 60px;
        width: auto;
      }
    }
    button.navbar-toggle {
//      margin-top: 50px;
//      margin-right: -35px;
    }
  }
  h1 {
    font-size: 30px !important;
  }
  .bro-ct, .page-suche  {
    /* PAGE STARTER & TEXT ADJUSTMENTS */
    .bro-ct-el-page-starter.node-teaser {
      .field-name-field-basic-text-text {
        .field-item {
          width: 300px;
        }
      }
    }
    /* GRID / TEXT AREA DISPLAY */
    .bro-list-teaser-grid, .bro-list-teaser-grid {
      td, .views-row {
        width: 300px !important;
        margin: 0auto;
        .node-teaser, .view-mode-teaser_2 {
          padding: 0px;

        }
      }
    }
    .bro-list-refs {
      position: relative;
      left: 25px;
      .views-row {
        margin-bottom: 20px;
      }
    }



    #panel-footer,
    #embed-footer
    {
      #social-menu {
        text-align: right;
        top: -250px !important;
        position: relative;
        a {
          text-align: center;
        }
      }
    }
  }
//  .page-suche {
//    #panel-footer,
//    #embed-footer
//    {
//      #social-menu {
//        top: -300px !important;
//      }
//    }
//  }

  /* page: entdecken
   *       prices
   *       faq
   *       über uns
  */
  .page-node-7,
  .page-node-9,
  .page-node-24,
  .page-node-37,
  .page-node-11
  {
    /* PAGE STARTER */
    .bro-ct-el-page-starter.node-teaser {
      height: 350px;
      h1 {
        font-size: 22px !important;
      }
      /* PAGE STARTER PRICING TABLE */
      #pricing-disp-elements {
        margin-top: 40px !important;
        .price-item {
          .disp-el {
            font-size: 20px  !important;
          }
          .disp-text {
            font-size: 16px !important;
          }
        }
      }
    }
  }

  /* PRICING page */
  .page-node-9 {
    .bro-ct-el-page-starter.node-teaser {
      h1 {
        font-size: 22px !important;
      }
    }
  }

  /* JOBS PAGE / Kontakt page (b/c they both have webforms)
   */
  .page-node-58, // jobs
  .page-node-24 // kontakt
  {
    .apply-form,
    .contact-form {

      h2 {
        margin: 0 20px;
      }
      form {
        width: inherit !important;
        padding: 0px;
        #edit-submitted-gender {
          margin: 0 auto;
          .form-type-radio {
            margin-left: 20px;
          }
        }
        .webform-component--birthday {
          .webform-datepicker {
            .form-type-select {
              width: 75px !important;
              padding: 0px;
            }
          }
        }
        .webform-component--experience {
          #edit-submitted-experience {
            .form-type-checkbox {
              width: 150px;
            }
          }
        }
        .webform-component--box-1--name-first,
        .webform-component--box-2--city,
        .webform-component--box-3--phone-home,
        .webform-component--box-4--size-shoe,
        .webform-component--box-5--race,
        .webform-component--box-6--size-men
        {
          padding-right: 20px !important;
        }
      }
    }

    .contact-form {
      form {
        left: 0px !important;
        .form-item {
          margin: 0 0 10px 0!important;
          padding: 0px !important
        }
        .webform-layout-box {
          margin-bottom: 0px;
        }
        .webform-component--row-6 {
          .webform-component-textarea {
            position: relative;
            width: 100% !important;
          }
        }
      }
    }
  }

  /* MYDSCHUMBO PAGE
  */
  .mydschumbo {
    .pane-node-title {
      display: block !important;
      text-align: center;
    }
    .pane-node-body {
      padding: 0px 20px !important;
      .mydbo-advantages {
        width: 100% !important;
        padding: 10px !important;
      }
    }
  }

  .page-suche {
    .view-bro-search-results {
      .view-filters {
        .form-type-textfield {
          width: 250px !important;
        }
      }
    }
  }

  /* ÜBER UNS PAGE
  */
  .page-node-11 {
    .pane-node-body {
      padding: 20px;
      table {
        width: 250px !important;
      }
    }
  }

}