


/* * VARS * */

/* COLORS */
$green : #39b54a;
$red : #E51B24;
$blue : #29ABE2;
$orange : #F7931E;
$grey : #666666;
$grey2 : #a8a8a8;

$greyHeader : #f5f5f5;

/* DIMENSIONS */

// nav height
$nav_height: 75px;

// row height
$rowH : 500px;

// Display width list item
$listItemWidth : 330px;




/* * MIXINS * */

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin menu-style {
  a {
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0 0 3px 0 !important;
  }
  a:hover {
    border: none !important;
//    padding-bottom: 2px !important;
  }
  a.active:hover {
    padding-bottom: 4px !important;
  }
}

@mixin menu-style-white {
  a.active {
    border-bottom: 1px solid white;
  }
  a, a:link, a:visited {
    color: white !important;
  }
  a:hover {
    color: $grey2 !important;
//    border-bottom: 1px solid $grey;
  }
}
@mixin menu-style-footer {
  a.active {
    border-bottom: 1px solid white;
  }
  a, a:link, a:visited {
    color: $grey2 !important;
  }
  a:hover {
    color: $grey !important;
//    border-bottom: 1px solid $grey;
  }
}